<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAE222D51E56F0A9001E0A62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE222E91E56F0A9001E0A62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAE222F41E56F0A9001E0A62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
